@font-face {
    font-family: 'Gilroy Bold';
    src: url('Gilroy-Bold.eot');
    src: url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Gilroy-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}