$accent-color: #2FB042;
$text-color-black: #202020;
$text-color-gray: #A0A0A0;
$link-color:#0075FE;
$input-color: #D0D0D0;
$line-color: #EEEEEE;
$label-color-blue: #2F80ED;
$label-color-yellow: #FEAE00;